@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat";
  font-style: normal;
  background-color: #fff;
}
main {
  min-height: calc(100vh - 416px);
  overflow: hidden;
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.title-animate {
  position: relative;
}
.letter {
  top: 0;
  position: relative;
  transition: 0.5s ease;
  opacity: 1;
}
.letter--hidden {
  transition: 0.5s ease;
  top: 120%;
  opacity: 0;
}
.main--contacts {
  background-color: #000;
}
.visible {
  display: block !important;
}
.hidden {
  display: none !important;
}
.body-overlay {
  overflow-y: hidden;
  margin-right: var(--scrollbar-width);
}
.overlay,
.overlay-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  cursor: pointer;
  background: #000;
  opacity: 0.3;
}
.overlay-modal {
  z-index: 99;
  display: block;
}
.block-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.container {
  max-width: 75.85vw;
  margin: 0 auto;
}
.block-button {
  display: inline-block;
  background-color: #e06618;
  padding: 16px 60px;
  border-radius: 8px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  transition: 0.5s ease;
}
.block-button:hover {
  background-color: #df4503;
  transition: 0.5s ease;
}
.block-button:active {
  background-color: #df4503;
  transition: 0.5s ease;
}
.burger {
  cursor: pointer;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: 0.3s all linear;
}

.burger__line_first {
  top: 0;
}

.burger__line_second,
.burger__line_third {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_fourth {
  bottom: 0;
}

.burger_active .burger__line_first,
.burger_active .burger__line_fourth {
  opacity: 0;
}

.burger_active .burger__line_second {
  transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger__line_third {
  transform: translateY(-50%) rotate(-45deg);
}
.title {
  color: #212121;
  font-size: 50px;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1450px) {
  .container {
    max-width: 85.85vw;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 26px;
  }
  .block-button {
    font-size: 16px;
  }
  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
  }
}
