.about-greeting__wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-greeting__block {
  position: relative;
  z-index: 5;
  padding-top: 184px;
  padding-bottom: 128px;
}
.about-greeting--detail .about-greeting__block {
  padding-top: 150px;
}
.about-greeting__overlay {
  background-color: #000;
  opacity: 0.8;
}
.about-greeting__image {
  width: 100%;
  height: 382px;
}
.about-greeting--detail .about-greeting__image {
  height: 452px;
}
.about-greeting__image.about-greeting__image--service {
  height: 452px;
}
.about-greeting__image .container {
  height: 100%;
}
.about-greeting__image-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about-greeting__image-line {
  width: 100%;
  height: 1px;
  background-color: #9ca3af;
}
.about-greeting__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-greeting__block h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.about-greeting--white .about-greeting__block h2 {
  color: #000;
}
.about-greeting--detail.about-greeting--white .about-greeting__block h2 span {
  font-size: 40px;
  font-weight: 600;
}
@media (max-width: 990px) {
  .about-greeting__block.about-greeting__block--service h2 {
    font-size: 31px;
  }
  .about-greeting--detail .about-greeting__block h2 {
    font-size: 31px;
  }
  .about-greeting--detail.about-greeting--white .about-greeting__block h2 span {
    font-size: 24px;
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .about-greeting--detail .about-greeting__block {
    padding-top: 95px;
  }
  .about-greeting--detail .about-greeting__block .about-greeting__image.about-greeting__image--service {
    height: 274px;
  }
  .about-greeting__block {
    padding-top: 112px;
    padding-bottom: 82px;
  }
  .about-greeting__block h2 {
    font-size: 31px;
  }
  .about-greeting__image {
    height: 246px;
  }
  .about-greeting--detail .about-greeting__image {
    height: 246px;
  }
}
@media (max-width: 410px) {
  .about-greeting__block.about-greeting__block--service h2 {
    font-size: 25px;
  }
  .about-greeting--detail .about-greeting__block h2 {
    font-size: 23px;
  }
  .about-greeting--detail.about-greeting--white .about-greeting__block h2 span {
    font-size: 18px;
    font-weight: 600;
  }
}
