.news__wrapper {
  margin-top: 160px;
  margin-bottom: 256px;
  display: grid;
  row-gap: 20px;
}
.news__card {
  position: relative;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr minmax(0, 668px);
  border: 1px solid #212121;
  border-radius: 8px;
  column-gap: 30px;
}
.news__card:hover svg {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.news__card svg {
  width: 25px;
  height: 17px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.news__card-content {
  display: flex;
  column-gap: 20px;
}
@media (min-width: 1023px) {
  .news__card:hover .news__card-image img {
  transition: 0.5s ease;
  transform: scale(1.15);
  }
}

.news__card-year {
  display: flex;
  flex-direction: column;
  color: #535353;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  white-space: nowrap;
}
.news__card-year span {
  color: #212121;
  font-size: 60px;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
}
.news__card-image {
  position: relative;
  transition: 0.5s ease;
  transform: scale(1);
  width: 349px;
  height: 230px;
  border-radius: 8px;
  overflow: hidden;
}
.news__card-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__card-info {
  color: #212121;
}
.news__card-info h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 24px;
}
.news__card-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 990px) {
  .news__wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .news__card-content {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }
  .news__card-year {
    width: 100%;
    text-align: left;
    display: block;
    font-size: 14px;
    column-gap: 4px;
    font-weight: 500;
  }
  .news__card-year span {
    font-size: 14px;
    color: #6b7280;
    font-weight: 500;
  }
  .news__card {
    grid-template-columns: 1fr;
    padding: 0 0 16px 0;
    border: none;
    row-gap: 8px;
    border-bottom: 1px solid #535353;
    border-radius: 0;
  }
  .news__card svg {
    display: none;
  }
  .news__card-image {
    width: 100%;
    height: unset;
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .news__wrapper {
    row-gap: 30px;
  }
  
  .news__card-info h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .news__card-info p {
    font-size: 14px;
  }
}
